{% extends 'base.html.twig' %}
{% block title %}
    Axelle Magazine - {{ article.titre }}
{% endblock %}
{% block body %}
    <div class="row">
            <div class='page-header'>
                <h1>{{ article.titre }}</h1>
            </div>
        <div class='borderBottom'>
            <img class="center-block img-responsive" src="/uploads/images/articles/{{ article.image }}" alt="image article">
            <div class="margTop">{{ article.contenu|raw }}</div>
            {{ article.getEmbedVideo()|raw }}
            <span class='pull-right titleCatAndArt'> Publié le {{ article.datePost.format('d/m/Y') }} |
                <a class="categorieLink" href="{{ path('categorie', {'catId': article.SubRubrique.id}) }}">• {{ article.SubRubrique }}</a>
            </span>
        </div>
    </div>

{% endblock %}