{% extends 'base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-md-12 articleImage crop">
            <img class="imageContained" src="http://api.adorable.io/avatars/5000/1" alt="">
            <h4 class="articleCaption">{{ 'Lorem ipsum dolor sit amet test olol okaofkaoe apzpnazfolol okaofkaoe apzpnazf'|length > 75 ?
                'Lorem ipsum dolor sit amet test olol okaofkaoe apzpnazfolol okaofkaoe apzpnazf'|slice(0, 75) ~ '...' :
                'Lorem ipsum dolor sit amet test olol okaofkaoe apzpnazfolol okaofkaoe apzpnazf'  }}
            </h4>
        </div>
    </div>

    <div class="row margTop">
        {% for article in articlesIndex %}
            <div class="col-xs-6 articleImage crop">
                <a href="{{ path('article', {'id': article.id}) }}">
                    <img class="imageContained cropedImage" src="/uploads/images/articles/{{ article.image }}" alt="{{ article.titre }}">
                    <h4 class="articleCaption">
                        {{ article.titre|length > 55 ?
                        article.titre|slice(0, 55) ~ '...' :
                        article.titre  }}
                    </h4>
                    <h4 class="articleRubriqueCaption">
                        <a href="{{ path('categorie', {'catId': article.SubRubrique.id}) }}">{{ article.SubRubrique }}</a>
                    </h4>
                </a>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
