{% extends 'base.html.twig' %}
{% block body %}
    {% if articleShowFirst.article != null %}
        <div class="row">
            <div class="col-md-12 articleImage crop">
                <a href="{{ path('article', {'id': articleShowFirst.article.id}) }}">
                    <img class="imageContained" src="/uploads/images/articles/{{ articleShowFirst.article.image }}" alt="{{ articleShowFirst.article.titre }}">
                    <h4 class="inlinedIndex articleCaption">{{ articleShowFirst.article.titre|length > 75 ?
                        articleShowFirst.article.titre|slice(0, 75) ~ '...' :
                        articleShowFirst.article.titre  }}
                    </h4>
                </a>
            </div>
        </div>
    {% endif %}
    <div class="row margTop">
        {% for article in articlesIndex %}
            <div class="col-xs-6 articleImage crop">
                <a href="{{ path('article', {'id': article.id}) }}">
                    {% if article.image != null %}
                        <img class="imageContained cropedImage" src="/uploads/images/articles/{{ article.image }}" alt="{{ article.titre }}">
                    {% else %}
                        <img class="imageContained cropedImage noImage" src="{{ asset('img/empty.png') }}" alt="">
                    {% endif %}
                    <h4 class="inlinedIndex articleCaption">
                        {{ article.titre|length > 45 ?
                        article.titre|slice(0, 45) ~ '...' :
                        article.titre  }}
                    </h4>
                    <h4 class="inlinedIndex articleRubriqueCaption titleCatAndArt">
                        <a href="{{ path('categorie', {'catId': article.SubRubrique.id}) }}">{{ article.SubRubrique }}</a>
                    </h4>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
