<div id="wrapper">
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top text-left" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                    <img class="img-responsive col-xs-12" alt="logo" src="{{ asset('img/logoMenu.png')}}">
                </a>
            </li>
            <li class="recherche">
                <form action="{{ path('recherche') }}" method="GET">
                    {% if app.request.query.get('search') == '' %}
                        {% set search = 'Recherche' %}
                    {% else %}
                        {% set search = app.request.query.get('search') %}
                    {% endif %}
                    <input title="Recherche" type="text" name="search" id="search" placeholder="{{ search }}" autocomplete="off" required>
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </li>
            {% for categorie in categoriesLeftMenu %}
                <li class="dropdown categorie">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ categorie.nom }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Les {{ categorie.nom }}</li>
                        {% for sousRubrique in categorie.subRubriques %}
                            <li class="sousCategorie"><a href="{{ path('categorie', {'catId': sousRubrique.id }) }}">{{ sousRubrique.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            {% for sousRubrique in sousRubriqueLeftMenu %}
                <li class="categorie">
                    <a href="{{ path('categorie', {'catId': sousRubrique.id}) }}">{{ sousRubrique }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
    </div>
</div>