<div class="row">
    {#<form class=" text-center borderBottom" action="" method="post">#}
    {#<input class="" type="text" placeholder="Recherche">#}
    {#<button type="submit" class=""><i class="fa fa-search" aria-hidden="true"></i></button>#}
    {#</form>#}
    <ul class="list-inline noPadding">
        <li class="list-inline-item"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></li>
        <li class="list-inline-item"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></li>
        <li class="list-inline-item"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></li>
    </ul>
</div>

<div class="row noPadding"><h3>Dernière Actus</h3></div>
{% for i in 0..2 %}
    <div class="row sideMenuLink">
        <a class="" href="#">
            <img class="col-xs-4 img-responsive" src="https://images.genius.com/b2f57f6b6f138edd6eed8c79aeffde30.1000x1000x1.jpg" alt="">
            <h4 class="col-xs-8 text-left">Article {{ i }}Article {{ i }}Article {{ i }}Article {{ i }}Article {{ i }}Article {{ i }}</h4>
        </a>
    </div>
{% endfor %}